In [1]:
import pandas as pd

In [2]:
household = pd.read_csv('dataanalysis/data_input/household.csv')
household.head()

,receipt_id,receipts_item_id,purchase_time,category,sub_category,format,unit_price,discount,quantity,yearmonth
0,9622257,32369294,7/22/2018 21:19,Rice,Rice,supermarket,128000.0,0,1,2018-07
1,9446359,31885876,7/15/2018 16:17,Rice,Rice,minimarket,102750.0,0,1,2018-07
2,9470290,31930241,7/15/2018 12:12,Rice,Rice,supermarket,64000.0,0,3,2018-07
3,9643416,32418582,7/24/2018 8:27,Rice,Rice,minimarket,65000.0,0,1,2018-07
4,9692093,32561236,7/26/2018 11:28,Rice,Rice,supermarket,124500.0,0,1,2018-07

In [3]:
household.sub_category.value_counts()

Detergent    36000
Sugar        24000
Rice         12000
Name: sub_category, dtype: int64

In [4]:
pd.crosstab(index=household['sub_category'],
           columns='count')

col_0         count
sub_category
Detergent     36000
Rice          12000
Sugar         24000

In [14]:
pd.crosstab(index=household['sub_category'],
           columns=household['format'],
           normalize='index')

format        hypermarket  minimarket  supermarket
sub_category
Detergent        0.072528    0.676250     0.251222
Rice             0.083250    0.590667     0.326083
Sugar            0.073375    0.640417     0.286208

In [15]:
pd.crosstab(index=household['sub_category'],
           columns=household['format'],
           margins=True,
           margins_name='Margin')

format        hypermarket  minimarket  supermarket  Margin
sub_category
Detergent            2611       24345         9044   36000
Rice                  999        7088         3913   12000
Sugar                1761       15370         6869   24000
Margin               5371       46803        19826   72000

In [18]:
pd.crosstab(index=household['sub_category'],
           columns=household['format'],
            values=['unit_price'],
            aggfunc='mean',
           margins=True,
           margins_name='Margin')

ValueError: Length of values does not match length of index